.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container > div {
  flex: 1;
}
